/test.exe
/.1.vscode
/.vscode
/3DMark
/a.txt
/ABC2007.TXT
/ABC2022.TXT
/b.txt
/BAI1.cpp
/BAI2.cpp
/BAI3.cpp
/BAI4.cpp
/BAI4.exe
/btvn ktlt
/c++ ntucoder
/c.txt
/chialaydu.cpp
/Custom Office Templates
/DATHUC.txt
/Default.rdp
/desktop.ini
/filetest.out
/GitHub
/hello.exe
/index.html
/input.inp
/League of Legends
/Ln
/main.js
/My Games
/NetBeansProjects
/output.out
/SQL Server Management Studio
/tempCodeRunnerFile.cpp
/tempCodeRunnerFile.exe
/test.cpp
/test.exe
/testham.cpp
/testpptcnxh.pptx
/tongmangconlonnhat.cpp
/tongmangconlonnhat.exe
/Untitled-1.cpp
/Untitled-1.exe
/Untitled-2.cpp
/Untitled-2.exe
/Untitled-3.cpp
/Untitled-3.exe
/Untitled1.cpp
/Untitled1.exe
/Untitled2.cpp
/Untitled2.exe
/v2ray-windows-64
/vbgrass.out
/ve2011.docx
/VideoPad Projects
/Virtual Machines
/Visual Studio 2017
/Visual Studio 2019
/xulifilevidu.cpp
/XYZ2007.TXT
/XYZ2022.TXT
/Zoom
/~$c tiêu quan trọng nhất trong đấu tranh giai cấp hiện nay.docx
/My Pictures
/My Music
/My Videos